.is-owner {
	--room-nick-symbol: var(--color-red500);
	--room-nick-color: var(--color-red500);
	color: var(--room-nick-symbol);
}
.is-admin-operator {
	--room-nick-symbol: var(--color-red500);
	--room-nick-color: var(--color-red500);
	color: var(--room-nick-symbol);
}
.is-operator {
	--room-nick-symbol: var(--color-red500);
	--room-nick-color: var(--color-red500);
	color: var(--room-nick-symbol);
}
.is-half-operator {
	--room-nick-symbol: var(--color-cyan500);
	--room-nick-color: var(--color-cyan500);

	color: var(--room-nick-symbol);
}
.is-vip {
	--room-nick-symbol: var(--color-orange400);
	--room-nick-color: var(--color-orange400);
	color: var(--room-nick-symbol);
}
.is-user {
	color: inherit;
}

bdi.is-away::after {
	content: "[away]";
	text-decoration: underline;
	color: var(--room-nick-color);
}
bdi.is-busy::after {
	content: "[busy]";
	text-decoration: underline;
	color: var(--room-nick-color);
}
