@use "./variables" as var;
@use "scss:~/flexsheets" as fx;

.btn {
	position: relative;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	padding: 0;

	border: 0;
	background: transparent;
	color: inherit;
	cursor: pointer;

	&::before {
		content: "";

		--position: calc(0rem - #{var.$spacing} / 2);

		position: absolute;
		top: var(--position);
		right: var(--position);
		bottom: var(--position);
		left: var(--position);
	}
}

.btn:disabled {
	cursor: default;
	color: var(--disabled-color, #aaa);
	pointer-events: none;
}

.btn svg {
	width: 100%;
	height: 100%;

	transition: opacity 250ms;
	color: var(--btn-svg-color, currentColor);
}

.btn:not(.btn\/without-opacity) svg {
	opacity: 0.5;
}

.btn.active svg,
.btn:not(:disabled):hover svg:hover {
	opacity: 1;
	filter: drop-shadow(0px 0px 4.5px var(--btn-svg-color, currentColor));
}

.btn\/primary {
	background: var(--btn-primary-bg);
	color: var(--btn-primary-color);
	&:hover {
		background: var(--btn-primary-bg-hover, var(--btn-primary-bg));
		color: var(--btn-primary-color-hover, var(--btn-primary-color));
	}
}

.btn\/danger {
	background: var(--btn-danger-bg, var(--color-red500));
	color: var(--btn-danger-color);
	&:hover {
		background-color: var(--btn-danger-bg-hover, var(--color-red600));
		color: var(--btn-danger-color-hover, var(--btn-danger-color));
	}
}
