@font-face {
	font-family: "Roboto";
	src: local("Roboto Regular"), local("Roboto-Regular"),
		url("./Roboto-Regular.woff2") format("woff2"),
		url("./Roboto-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"),
		url("./Roboto-BoldItalic.woff2") format("woff2"),
		url("./Roboto-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: local("Roboto Bold"), local("Roboto-Bold"),
		url("./Roboto-Bold.woff2") format("woff2"),
		url("./Roboto-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: local("Roboto Italic"), local("Roboto-Italic"),
		url("./Roboto-Italic.woff2") format("woff2"),
		url("./Roboto-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Nunito";
	src: local("Nunito Bold"), local("Nunito-Bold"),
		url("./Nunito-Bold.woff2") format("woff2"),
		url("./Nunito-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Nunito";
	src: local("Nunito Bold Italic"), local("Nunito-BoldItalic"),
		url("./Nunito-BoldItalic.woff2") format("woff2"),
		url("./Nunito-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Nunito";
	src: local("Nunito Regular"), local("Nunito-Regular"),
		url("./Nunito-Regular.woff2") format("woff2"),
		url("./Nunito-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Nunito";
	src: local("Nunito Italic"), local("Nunito-Italic"),
		url("./Nunito-Italic.woff2") format("woff2"),
		url("./Nunito-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

.f-family\=arial {
	font-family: Arial, sans-serif;
}

.f-family\=nunito {
	font-family: Nunito, sans-serif;
}

.f-family\=roboto {
	font-family: Roboto, sans-serif;
}

.f-family\=emoji
{
	font-family: "Twemoji Country Flags", "Helvetica", "Comic Sans", serif;
}
