<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title inertia>Flex</title>
	@vite(['ui/renderer/csr.ts', `ui/pages/${page.component}.vue`])
	@inertiaHead()
</head>

<body>
	@inertia()
</body>

</html>
