<!DOCTYPE html>
<html lang="fr" data-scheme="dark">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title inertia>Flex</title>
    <!-- import "../assets/scss/app.scss"; -->

	@vite(['ui/renderer/csr.ts', 'ui/assets/scss/app.scss', `ui/pages/${page.component}.vue`])
	@inertiaHead()
</head>

<body>
	<div id="🆔">
	@inertia()
	</div>
</body>

</html>
