.is-owner {
	--room-target-symbol: var(--color-red500);
	--room-target-color: var(--color-red500);
	color: var(--room-target-symbol);
}
.is-admin-operator {
	--room-target-symbol: var(--color-red500);
	--room-target-color: var(--color-red500);
	color: var(--room-target-symbol);
}
.is-operator {
	--room-target-symbol: var(--color-red500);
	--room-target-color: var(--color-red500);
	color: var(--room-target-symbol);
}
.is-half-operator {
	--room-target-symbol: var(--color-cyan500);
	--room-target-color: var(--color-cyan500);

	color: var(--room-target-symbol);
}
.is-vip {
	--room-target-symbol: var(--color-orange400);
	--room-target-color: var(--color-orange400);
	color: var(--room-target-symbol);
}
.is-user {
	color: inherit;
}

bdo.is-away::after {
	content: "[away]";
	text-decoration: underline;
	color: var(--room-target-color);
}
