@mixin use-colors-preset {
	:root {
		--preset-color0: var(--default-text-color_alt_hsl);
		--preset-color1: var(--default-text-color_hsl);
		--preset-color2: var(--color-blue800_hsl);
		--preset-color3: var(--color-green400_hsl);
		--preset-color4: var(--color-red400_hsl);
		--preset-color5: var(--color-red900_hsl);
		--preset-color6: var(--color-indigoa200_hsl);
		--preset-color7: var(--color-orange400_hsl);
		--preset-color8: var(--color-yellow600_hsl);
		--preset-color9: var(--color-lime500_hsl);
		--preset-color10: var(--color-cyan500_hsl);
		--preset-color11: var(--color-blue-grey200_hsl);
		--preset-color12: var(--color-blue500_hsl);
		--preset-color13: var(--color-pink200_hsl);
		--preset-color14: var(--color-grey400_hsl);
		--preset-color15: var(--color-light-blue100_hsl);
	}

	.bg-color0 {
		background-color: hsl(var(--preset-color0))!important;
		color: hsl(var(--preset-color1))!important;
	}
	.bg-color1 {
		background-color: hsl(var(--preset-color1))!important;
		color: hsl(var(--preset-color0))!important;
	}
	.bg-color2 {
		background-color: hsl(var(--preset-color2))!important;
	}
	.bg-color3 {
		background-color: hsl(var(--preset-color3))!important;
	}
	.bg-color4 {
		background-color: hsl(var(--preset-color4))!important;
	}
	.bg-color5 {
		background-color: hsl(var(--preset-color5))!important;
	}
	.bg-color6 {
		background-color: hsl(var(--preset-color6))!important;
	}
	.bg-color7 {
		background-color: hsl(var(--preset-color7))!important;
	}
	.bg-color8 {
		background-color: hsl(var(--preset-color8))!important;
		color: hsl(var(--preset-color0));
	}
	.bg-color9 {
		background-color: hsl(var(--preset-color9))!important;
		color: hsl(var(--preset-color0));
	}
	.bg-color10 {
		background-color: hsl(var(--preset-color10))!important;
	}
	.bg-color11 {
		background-color: hsl(var(--preset-color11))!important;
		color: hsl(var(--preset-color0));
	}
	.bg-color12 {
		background-color: hsl(var(--preset-color12))!important;
	}
	.bg-color13 {
		background-color: hsl(var(--preset-color13))!important;
	}
	.bg-color14 {
		background-color: hsl(var(--preset-color14))!important;
		color: hsl(var(--preset-color0));
	}
	.bg-color15 {
		background-color: hsl(var(--preset-color15))!important;
		color: hsl(var(--preset-color0));
	}
	
	.bgo-color0 {
		background-color: hsl(var(--preset-color0), 25%)!important;
		color: hsl(var(--preset-color1))!important;
	}
	.bgo-color1 {
		background-color: hsl(var(--preset-color1), 25%)!important;
		color: hsl(var(--preset-color0))!important;
	}
	.bgo-color2 {
		background-color: hsl(var(--preset-color2), 25%)!important;
	}
	.bgo-color3 {
		background-color: hsl(var(--preset-color3), 25%)!important;
	}
	.bgo-color4 {
		background-color: hsl(var(--preset-color4), 25%)!important;
	}
	.bgo-color5 {
		background-color: hsl(var(--preset-color5), 25%)!important;
	}
	.bgo-color6 {
		background-color: hsl(var(--preset-color6), 25%)!important;
	}
	.bgo-color7 {
		background-color: hsl(var(--preset-color7), 25%)!important;
	}
	.bgo-color8 {
		background-color: hsl(var(--preset-color8), 25%)!important;
		color: hsl(var(--preset-color0));
	}
	.bgo-color9 {
		background-color: hsl(var(--preset-color9), 25%)!important;
		color: hsl(var(--preset-color0));
	}
	.bgo-color10 {
		background-color: hsl(var(--preset-color10), 25%)!important;
	}
	.bgo-color11 {
		background-color: hsl(var(--preset-color11), 25%)!important;
		color: hsl(var(--preset-color0));
	}
	.bgo-color12 {
		background-color: hsl(var(--preset-color12), 25%)!important;
	}
	.bgo-color13 {
		background-color: hsl(var(--preset-color13), 25%)!important;
	}
	.bgo-color14 {
		background-color: hsl(var(--preset-color14), 25%)!important;
		color: hsl(var(--preset-color0));
	}
	.bgo-color15 {
		background-color: hsl(var(--preset-color15), 25%)!important;
		color: hsl(var(--preset-color0));
	}

	.fg-color0 {
		color: hsl(var(--preset-color0))!important;
	}
	.fg-color1 {
		color: hsl(var(--preset-color1))!important;
	}
	.fg-color2 {
		color: hsl(var(--preset-color2))!important;
	}
	.fg-color3 {
		color: hsl(var(--preset-color3))!important;
	}
	.fg-color4 {
		color: hsl(var(--preset-color4))!important;
	}
	.fg-color5 {
		color: hsl(var(--preset-color5))!important;
	}
	.fg-color6 {
		color: hsl(var(--preset-color6))!important;
	}
	.fg-color7 {
		color: hsl(var(--preset-color7))!important;
	}
	.fg-color8 {
		color: hsl(var(--preset-color8))!important;
	}
	.fg-color9 {
		color: hsl(var(--preset-color9))!important;
	}
	.fg-color10 {
		color: hsl(var(--preset-color10))!important;
	}
	.fg-color11 {
		color: hsl(var(--preset-color11))!important;
	}
	.fg-color12 {
		color: hsl(var(--preset-color12))!important;
	}
	.fg-color13 {
		color: hsl(var(--preset-color13))!important;
	}
	.fg-color14 {
		color: hsl(var(--preset-color14))!important;
	}
	.fg-color15 {
		color: hsl(var(--preset-color15))!important;
	}

	.stroke-color0 {
		stroke: hsl(var(--preset-color0))!important;
	}
	.stroke-color1 {
		stroke: hsl(var(--preset-color1))!important;
	}
	.stroke-color2 {
		stroke: hsl(var(--preset-color2))!important;
	}
	.stroke-color3 {
		stroke: hsl(var(--preset-color3))!important;
	}
	.stroke-color4 {
		stroke: hsl(var(--preset-color4))!important;
	}
	.stroke-color5 {
		stroke: hsl(var(--preset-color5))!important;
	}
	.stroke-color6 {
		stroke: hsl(var(--preset-color6))!important;
	}
	.stroke-color7 {
		stroke: hsl(var(--preset-color7))!important;
	}
	.stroke-color8 {
		stroke: hsl(var(--preset-color8))!important;
	}
	.stroke-color9 {
		stroke: hsl(var(--preset-color9))!important;
	}
	.stroke-color10 {
		stroke: hsl(var(--preset-color10))!important;
	}
	.stroke-color11 {
		stroke: hsl(var(--preset-color11))!important;
	}
	.stroke-color12 {
		stroke: hsl(var(--preset-color12))!important;
	}
	.stroke-color13 {
		stroke: hsl(var(--preset-color13))!important;
	}
	.stroke-color14 {
		stroke: hsl(var(--preset-color14))!important;
	}
	.stroke-color15 {
		stroke: hsl(var(--preset-color15))!important;
	}

	.fshadow-color0 {
		filter: drop-shadow(0px 0px 4.5px hsl(var(--preset-color0)))!important;
	}
	.fshadow-color1 {
		filter: drop-shadow(0px 0px 4.5px hsl(var(--preset-color1)))!important;
	}
	.fshadow-color2 {
		filter: drop-shadow(0px 0px 4.5px hsl(var(--preset-color2)))!important;
	}
	.fshadow-color3 {
		filter: drop-shadow(0px 0px 4.5px hsl(var(--preset-color3)))!important;
	}
	.fshadow-color4 {
		filter: drop-shadow(0px 0px 4.5px hsl(var(--preset-color4)))!important;
	}
	.fshadow-color5 {
		filter: drop-shadow(0px 0px 4.5px hsl(var(--preset-color5)))!important;
	}
	.fshadow-color6 {
		filter: drop-shadow(0px 0px 4.5px hsl(var(--preset-color6)))!important;
	}
	.fshadow-color7 {
		filter: drop-shadow(0px 0px 4.5px hsl(var(--preset-color7)))!important;
	}
	.fshadow-color8 {
		filter: drop-shadow(0px 0px 4.5px hsl(var(--preset-color8)))!important;
	}
	.fshadow-color9 {
		filter: drop-shadow(0px 0px 4.5px hsl(var(--preset-color9)))!important;
	}
	.fshadow-color10 {
		filter: drop-shadow(0px 0px 4.5px hsl(var(--preset-color10)))!important;
	}
	.fshadow-color11 {
		filter: drop-shadow(0px 0px 4.5px hsl(var(--preset-color11)))!important;
	}
	.fshadow-color12 {
		filter: drop-shadow(0px 0px 4.5px hsl(var(--preset-color12)))!important;
	}
	.fshadow-color13 {
		filter: drop-shadow(0px 0px 4.5px hsl(var(--preset-color13)))!important;
	}
	.fshadow-color14 {
		filter: drop-shadow(0px 0px 4.5px hsl(var(--preset-color14)))!important;
	}
	.fshadow-color15 {
		filter: drop-shadow(0px 0px 4.5px hsl(var(--preset-color15)))!important;
	}

	.tshadow-color0 {
		text-shadow: hsl(var(--preset-color0)) 1px 0 5px!important;
	}
	.tshadow-color1 {
		text-shadow: hsl(var(--preset-color1)) 1px 0 5px!important;
	}
	.tshadow-color2 {
		text-shadow: hsl(var(--preset-color2)) 1px 0 5px!important;
	}
	.tshadow-color3 {
		text-shadow: hsl(var(--preset-color3)) 1px 0 5px!important;
	}
	.tshadow-color4 {
		text-shadow: hsl(var(--preset-color4)) 1px 0 5px!important;
	}
	.tshadow-color5 {
		text-shadow: hsl(var(--preset-color5)) 1px 0 5px!important;
	}
	.tshadow-color6 {
		text-shadow: hsl(var(--preset-color6)) 1px 0 5px!important;
	}
	.tshadow-color7 {
		text-shadow: hsl(var(--preset-color7)) 1px 0 5px!important;
	}
	.tshadow-color8 {
		text-shadow: hsl(var(--preset-color8)) 1px 0 5px!important;
	}
	.tshadow-color9 {
		text-shadow: hsl(var(--preset-color9)) 1px 0 5px!important;
	}
	.tshadow-color10 {
		text-shadow: hsl(var(--preset-color10)) 1px 0 5px!important;
	}
	.tshadow-color11 {
		text-shadow: hsl(var(--preset-color11)) 1px 0 5px!important;
	}
	.tshadow-color12 {
		text-shadow: hsl(var(--preset-color12)) 1px 0 5px!important;
	}
	.tshadow-color13 {
		text-shadow: hsl(var(--preset-color13)) 1px 0 5px!important;
	}
	.tshadow-color14 {
		text-shadow: hsl(var(--preset-color14)) 1px 0 5px!important;
	}
	.tshadow-color15 {
		text-shadow: hsl(var(--preset-color15)) 1px 0 5px!important;
	}

	.text-bold {
		font-weight: bold;
	}
	.text-italic {
		font-style: italic;
	}
	.text-underline {
		text-decoration: underline;
	}
}