@use "scss:~/flexsheets" as fx;

@mixin use-dark-scheme {
	:root {
		@include fx.scheme(true) using ($name) {
			@if $name == dark {
				--default-border-color: #282c2f;
				--default-text-color: var(--color-white);
				--default-text-color_alt: var(--color-grey900);
				--default-placeholder-color: var(--color-blue-grey200);
				--box-shadow: 2px 2px 4px var(--color-blue-grey700);

				--disabled-color: var(--color-blue-grey500);

				--body-bg: #31363a;
				--body-bg_alt: #282c2f;

				--dialog-bg: var(--color-black);
				--dialog-color: var(--default-text-color);
				--dialog-border-color: var(--color-white);

				--text-input-color-error: #4dd2d4;

				--login-page-bg: var(--body-bg);
				--login-form-bg: #3c4043;
				--login-form-shadow: var(--color-grey900);
				--login-form-color: hsl(var(--color-white_hsl), 0.55);
				--login-form-hover-color: var(--color-white);
				--login-button-submit-bg: var(--color-grey50);
				--login-button-submit-bg-hover: var(--color-grey300);
				--login-button-submit-color: var(--color-grey800);
				--login-button-submit-outline-color: var(--color-white);

				--navigation-room-focus-color: var(--color-grey600);
				--navigation-room-border-left-color: var(--color-grey400);

				--room-bg: var(--color-black);
				--room-editbox-bg: var(--room-bg);
				--room-kicked-bg: var(--color-grey900);
				--room-kicked-button-bg: var(--color-grey50);
				--room-kicked-button-color: var(--color-grey900);
				--room-event-color: var(--color-blue300);
				--room-event-join-color: var(--color-green400);
				--room-event-kick-color: var(--color-red300);
				--room-event-mode-color: var(--color-blue300);
				--room-event-nick-color: var(--color-blue300);
				--room-event-notice-color: var(--color-red300);
				--room-event-query-color: var(--color-blue300);
				--room-message-time-color: var(--color-grey500);
				--room-message-action-color: var(--color-orange400);
				--room-message-error-color: var(--color-red300);
				--room-topic-placeholder-color: var(--color-blue-grey200);

				--room-target-myself-color: var(--color-blue300);

				--room-userlist-bg: var(--body-bg);
				--room-userlist-search-bg: var(--room-bg);
				--room-userlist-search-outline-focus: #009DFF;
				--room-userlist-filter-bg_hsl: var(--color-cyan300_hsl);

				--thead-bg: var(--color-grey900);
				--tbody-bg: var(--color-blue-grey100);
				--tbody-bg-hover: var(--color-blue-grey200);

				--channel-list-filter-input-bg: var(--color-grey900);

				--channel-activities-bg: var(--color-white);
				--channel-activities-color: var(--default-text-color_alt);
			}
		}
	}

	.has-events {
		@include fx.scheme using($name) {
			@if $name == dark {
				--navigation-room-events-color: var(--color-blue300);
				--navigation-room-border-left-color: var(--color-blue500);
			}
		}
	}

	.has-messages {
		@include fx.scheme using ($name) {
			@if $name == dark {
				--navigation-room-messages-color: var(--color-red300);
				--navigation-room-border-left-color: var(--color-red300);
			}
		}
	}

	.is-highlight {
		@include fx.scheme using ($name) {
			@if $name == dark {
				--navigation-room-highlight-color: var(--color-lime500);
				--navigation-room-border-left-color: var(--color-lime700);
			}
		}
	}

	.is-owner,
	.is-admin-operator,
	.is-operator {
		@include fx.scheme using ($name) {
			@if $name == dark {
				--room-target-symbol: var(--color-red400);
				--room-target-color: var(--color-red400);
			}
		}
	}

	.is-half-operator {
		@include fx.scheme using($name) {
			@if $name == dark {
				--room-target-symbol: var(--color-cyan500);
				--room-target-color: var(--color-cyan300);
			}
		}
	}

	.is-vip {
		@include fx.scheme using($name) {
			@if $name == dark {
				--room-target-symbol: var(--color-orange400);
				--room-target-color: var(--color-orange300);
			}
		}
	}

	bdo.is-away {
		@include fx.scheme using ($name) {
			@if $name == dark {
				--room-target-color: var(--color-grey500);
			}
		}
	}

	@include fx.class("room/userlist:menu") {
		@include fx.scheme using ($name) {
			@if $name == dark {
				--btn-primary-bg: var(--color-grey900);
				--btn-primary-bg-hover: var(--color-grey800);
				--btn-secondary-bg: var(--color-blue-grey700);
				--btn-secondary-bg-hover: var(--color-blue-grey500);
				--btn-danger-bg: var(--color-red500);
				--btn-danger-disabled-color: var(--color-red900);
			}
		}
	}
}
