@use "@phisyx/flexsheets" as fx;

@include fx.use("align-t:center", "flex!", "flex:shrink=0");
@include fx.use(
	(
		className: gap,
		values: (
			2,
		),
	),
	(
		className: padding,
		values: (
			2,
		),
	)
);

nav[role="navigation"] {
	background: var(--color-white);
	color: var(--color-black);
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
